<div class="header">
  <%= render_cell(:topic, :form, @board.topics.build) %>
  <%= render_view_fragment :below_form %>
</div>

<div class="main">
  <%= render_cell_collection :topic, :show, @topics %>
  <%= paginate @topics %>
</div>

<div class="footer">
</div>
