<div class="header">
  <%= render_cell(:post, :form, @board.topics.build) %>
  <%= render_custom_partial :after_form %>
</div>

<div class="main">
  <%= render_cell_collection :topic, :show, @topics, omit:true %>
  <%= paginate @topics %>
</div>

<div class="footer">
</div>
