<div class="file-section">
  <label><%= Post.human_attribute_name(:image) %></label>
  <%= @form_field.file_field :images, autocomplete:'off', multiple:true, data:{url: images_path, behavior: 'upload'} %>
</div>
