<% @post_field.fields_for :images do |i| %>
  <div class="field image">
    <%= i.label :image %>
    <%= i.file_field :image, class:'upload' %>
    <a href="#" class="switch">using url</a>
  </div>
  <div class="field image" style="display:none">
    <%= i.label :remote_image_url, Post.human_attribute_name(:image) %>
    <%= i.text_field :remote_image_url, placeholder:'http://example.com/guava.png', disabled:true, class:'upload' %>
    <a href="#" class="switch">from local</a>
  </div>
<% end %>
