hosts:
  default: &default_host
    :protocol: 'http'
    :subdomain: null
    :domain: ''
    :port: null
  asset:
    <<: *default_host
rails:
  secret_token: ''
  secret_key_base: ''
carrierwave:
  watermark:
    font: 'Nimbus-Sans-Bold'

# global board setting
board:
  reply_omit_condition:
    n_recent_only: 5
    avoid_only_n_hidden: 2
  time_format: '%d %b %H:%M'
  pagination:
    per_page: 5
    max_page: 9
  prune:
    selector_class: SortSelector
    selector_options:
    remover_class: DestroyRemover
    remover_options:
  post:
    allowed_options:
      - sage
  seo:
    image: null
