defaults: &defaults
  adapter: postgresql
  encoding: unicode
  host: postgres
  port: 5432
  username: docker
  password: docker

development:
  <<: *defaults
  database: mei_development

test:
  <<: *defaults
  database: mei_test

production:
  <<: *defaults
  database: mei_production