hosts:
  default: &default_host
    :protocol: 'http'
    :subdomain: null
    :domain: ''
    :port: null
  asset:
    <<: *default_host
rails:
  secret_token: ''
  secret_key_base: "a7e0ee249f97a6161c5da5a663d0b4a59ba8f011e874597d19a1f9bbb1661e9c5a19094a84d97d72fbcf1d884e2b61b95906c0cea7640e1efbce90427037018d"
carrierwave:
  watermark:
    font: 'Nimbus-Sans-Bold'

# global board setting
board:
  reply_omit_condition:
    n_recent_only: 5
    avoid_only_n_hidden: 2
  time_format: '%d %b %H:%M'
  pagination:
    per_page: 5
    max_page: 9
  prune:
    selector_class: SortSelector
    selector_options:
    remover_class: DestroyRemover
    remover_options:
  post:
    allowed_options:
      - sage
  seo:
    image: null
